.partyImageContainer {
  position: absolute;
  top: -100px;
  left: 10%;
  transform: translateX(-50%);
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.partyImage {
  display: block;
}
