@tailwind base;
@tailwind components;
@tailwind utilities;

.docBody {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.styleQ {
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
}

.style {
  width: 161.936px;
  height: 18.351px;
  justify-content: center;
  color: #fff;
  font-family: IBM Plex Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button {
  transition: all 0.2s ease;
}
.button:active {
  transform: scale(0.95);
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px;
  margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b2b2; /* Color of the scrollbar handle */
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */

/* .navBar-profile::-webkit-scrollbar {
  width: 2px; 
}

.navBar-profile::-webkit-scrollbar-track {
  background: #151416;
}

.navBar-profile::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

.navBar-profile::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover 
}*/

.responsive-navBar-profile::-webkit-scrollbar {
  width: 0px; /* Width of the entire scrollbar */
}

.responsive-navBar-profile::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the scrollbar track */
}

.responsive-navBar-profile::-webkit-scrollbar-thumb {
  background: #bdbbbb; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Roundness of the scrollbar thumb */
}

.responsive-navBar-profile::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
