@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.slide-in {
  animation: slideIn 0.4s forwards;
}

.slide-out {
  animation: slideOut 0.7s forwards;
}

@keyframes slideInFromRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideOutToRight {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.mainSlide-in {
  animation: slideInFromRight 0.5s forwards;
}

.mainSlide-out {
  animation: slideOutToRight 0.5s forwards;
}
